.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem 1rem 0;
  position: relative;
}

.logo img {
  width: 150px;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  font-family: var(--reg-font);
  font-weight: var(--reg-weight);
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #e4032f;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 20vh;
  }

  .burger {
    display: flex;
  }

  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.toggle .line2 {
    opacity: 0;
  }

  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
